<!-- <h1>Sign up</h1>

<form action="/users" method="POST" accept-charset="UTF-8">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="name"></label>
    <input id="name" type="text" name="user[username]">
    <label for="email"></label>
    <input id="email" type="email" name="user[email]">
    <label for="password"></label>
    <input id="password" type="password" name="user: [password]">

    <input type="submit">
</form> 


<h1>Sign up</h1>
<%=form_tag( '/users', method: :post) do %>
    <%=label_tag 'user[username]', 'Username:'%> 
    <%=text_field_tag 'user[username]' %>
    <%=label_tag 'user[email]', 'Email:'%> 
    <%=email_field_tag 'user[email]' %>
    <%=label_tag 'user[password]', 'Password:'%> 
    <%=password_field_tag 'user[password]' %>
    <%=submit_tag 'Submit'%>
<% end %> -->

<%=form_for @user, url: {action: "create"} do |f|%>

    <%=f.label :username, "Your user name here:"%>
    <%=f.text_field :username%>
    <%=f.label :email, "Write your email:"%>
    <%=f.email_field :email%>
    <%=f.label :password, "Password:"%>
    <%=f.password_field :password%>
    <%=f.submit "Submit"%>

<%end%>
